@page "/counter"

@using BlazorAppDemo.Components;
@using Models.Topping;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<h2>Some pizzas</h2>
<DisplayPizza PizzaName="Hawaiin" Topping="@(new PizzaTopping{ Name = "Chilli sauce", Ingredients = "Three kings of chilli" })" />
<DisplayPizza PizzaName="Hawaiin" Topping="@pizzaTopping" />

@code {
    private int currentCount = 0;
    private PizzaTopping pizzaTopping = new PizzaTopping
    {
       Name = "Chilli sauce",
       Ingredients = "Three kings of chilli"
    };

    private void IncrementCount()
    {
        currentCount++;
    }
}
